body {
  background-color: #04070a;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1; /* IE6-7 触发 hasLayout */
}

table {
  width: 100%;
  color: #d7f9fd;
}
table thead th, 
table tbody td {
  border: none;
  padding: 0px 10px;
}
table tbody td {
  background-color: rgba(0, 132, 255, 0.1);
}
table tbody .even td {
  background-color: rgba(92, 180, 255, 0.1);
}
table thead .center,
table tbody .center {
  text-align: center;
}

.color-red {
  color: red;
}
.color-91f7ec {
  color: #91f7ec;
}
.color-41AEF9 {
  color: #41AEF9;
}
.color-c25004 {
  color: #c25004;
}
.color-f89a0d {
  color: #f89a0d;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}

.relative {
  position: relative;
}
.overflow-hidden {
  overflow: hidden;
}

.color-block {
  display: inline-block;
  height: 10px;
  line-height: 10px;
  width: 15px;
  margin-right: 5px;
  margin-left: 5px;
}
.color-block-91f7ec {
  background-color: #91f7ec;
}
.color-block-41AEF9 {
  background-color: #41AEF9;
}

.amap-icon img {
  width: 16px;
  height: 16px;
}

.header {
  height: 88px;
  position: relative;
  background-image: -webkit-image-set(url(../img/header_bg_1x.png) 1x,url(../img/header_bg_2x.png) 2x);
  background-position: center 68px;
  background-repeat: no-repeat;
}
.header .header-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 68px;
}
.header .title {
  color: #ccc;
  font-size: 32px;
  text-align: center;
  line-height: 88px;
  position: relative;
}

.main {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.top-wrapper,
.bottom-wrapper {
  display: flex;
  justify-content: space-between;
}
.top-wrapper {
  flex-grow: 4;
}
.bottom-wrapper {
  flex-grow: 1;
}

.grid {
  margin-bottom: 10px;
  border: 1px solid rgba(248, 154, 13, 0.4);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  position: relative;
  clip-path: polygon( 10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0 calc(100% - 10px), 0 10px );
}

.grid .headline {
  color: #ccc;
  text-align: left;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../img/headline_bg_2x.png);
  background-position: center -1px;
  background-repeat: no-repeat;
  padding: 10px 10px;
}
.grid .content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.grid .bevel {
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: rgba(248, 154, 13, 0.4);
}
.grid .bevel-top-left {
  top: -1px;
  left: -7px;
  transform: rotate(-45deg);
  transform-origin: right top;
}
.grid .bevel-top-right {
  top: -1px;
  right: -7px;
  transform: rotate(45deg);
  transform-origin: left top;
}
.grid .bevel-bottom-left {
  bottom: -2px;
  left: -6px;
  transform: rotate(45deg);
  transform-origin: right top;
}
.grid .bevel-bottom-right {
  bottom: -2px;
  right: -6px;
  transform: rotate(-45deg);
  transform-origin: left top;
}


.top-wrapper .top-left-wrapper,
.top-wrapper .top-right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
}
.top-wrapper .top-middle-wrapper {
  flex-grow: 4;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}
.top-wrapper .total-count {
  padding: 0 20px;
  position: relative;
}
.top-wrapper .total-count .label {
  color: #ccc;
  font-size: 24px;
}
.top-wrapper .total-count .value {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(247, 153, 12, 0.4);
  padding: 0 10px;
}
.top-wrapper .total-count .number {
  font-size: 30px;
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: inline-block;
  padding: 0 5px;
}
.top-wrapper .time-range {
  position: relative;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 170px;
}
.top-wrapper .time-range .button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(248, 154, 13, 0.4);
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
}
.top-wrapper .time-range .button.selected {
  background-color: rgba(255, 102, 0, 0.7);
  border-color: rgba(255, 102, 0, 0.7);
}

.top-wrapper .weather,
.top-wrapper .networking-total {
  flex-grow: 1;
  flex-basis: 0%;
}
.top-wrapper .misinformation-rate,
.top-wrapper .failure-rate {
  flex-grow: 1;
}
.bottom-wrapper .left {
  flex-grow: 6;
  flex-basis: 0%;
}
.bottom-wrapper .middle,
.bottom-wrapper .right {
  flex-grow: 1;
}
.bottom-wrapper .middle {
  margin-left: 10px;
  margin-right: 10px;
}
.top-wrapper .weather .content {
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: relative;
}
.top-wrapper .weather .wea-img {
  position: absolute;
  top: 0;
  right: 20px;
}
.top-wrapper .weather .wea-img .iconfont {
  font-size: 56px;
  color: rgba(255, 255, 255, 0.3);
}
.top-wrapper .weather .row {
  display: flex;
  align-items: center;
}
.top-wrapper .weather .tem {
  font-size: 54px;
  margin-right: 15px;
}
.top-wrapper .weather .tem .symbol {
  font-size: 24px;
  vertical-align: super;
}
.top-wrapper .weather .wea {
  font-size: 16px;
}
.top-wrapper .weather .location {
  margin-bottom: 15px;
}
.top-wrapper .weather .win {
  margin-right: 15px;
}

.top-wrapper .networking-total .content {
  justify-content: space-between;
}
.top-wrapper .networking-total .sum,
.top-wrapper .networking-total .detail {
  flex-grow: 1;
}
.top-wrapper .networking-total .sum {
  margin-right: 10px;
}
.top-wrapper .networking-total .sum h4 {
  color: #d7f9fd;
  font-size: 12px;
  text-align: center;
  margin-bottom: 25px;
}
.top-wrapper .networking-total .sum .number {
  color: #d7f9fd;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  width: 90px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top-wrapper .networking-total .detail .group-field {
  text-align: center;
  color: #d7f9fd;
  font-size: 12px;
}
.top-wrapper .networking-total .detail .chart-container {
  margin: 0 auto;
}
.top-wrapper .detection-total {
  align-items: center;
  justify-content: center;
  height: 50px;
}
.top-wrapper .detection-total .count {
  color: #c6f1ff;
  font-size: 18px;
}
.top-wrapper .detection-total .value {
  font-size: 24px;
  font-weight: bold;
}

.bottom-wrapper .middle .content,
.bottom-wrapper .right .content {
  justify-content: space-around;
  align-items: center;
  min-height: 180px;
}
.bottom-wrapper .middle .item-wrapper,
.bottom-wrapper .right .item-wrapper {
  display: flex;
}
.bottom-wrapper .middle .item-wrapper .title,
.bottom-wrapper .right .item-wrapper .title {
  color: #aaa;
}
.bottom-wrapper .middle .item-wrapper .value,
.bottom-wrapper .right .item-wrapper .value {
  color: #fff;
  font-size: 28px;
}
.bottom-wrapper .middle .icon,
.bottom-wrapper .right .icon {
  height: 70px;
  width: 70px;
  margin-right: 15px;
}
.bottom-wrapper .middle .icon-water-level {
  background-image: url(../img/water_level.png);
  background-size: contain;
}
.bottom-wrapper .middle .icon-pressure {
  background-image: url(../img/pressure.png);
  background-size: contain;
}
.bottom-wrapper .right .icon-electricity {
  background-image: url(../img/electricity.png);
  background-size: contain;
}

.map-info-layer {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 600px;
  margin-left: -500px;
  margin-top: -275px;
}
.map-info-layer .layer-container {
  position: absolute;
}
.map-info-layer .layer-container .outer {
  border: 1px solid rgba(248, 154, 13, 0.4);
  clip-path: polygon( 10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0 calc(100% - 10px), 0 10px );
  padding: 6px 12px 12px;
}
.map-info-layer .layer-container .bevel {
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: rgba(248, 154, 13, 0.4);
}
.map-info-layer .layer-container .bevel-top-left {
  top: -1px;
  left: -4px;
  transform: rotate(-45deg);
  transform-origin: right top;
}
.map-info-layer .layer-container .bevel-top-right {
  top: -1px;
  right: -4px;
  transform: rotate(45deg);
  transform-origin: left top;
}
.map-info-layer .layer-container .bevel-bottom-left {
  bottom: -1px;
  left: -4px;
  transform: rotate(45deg);
  transform-origin: right top;
}
.map-info-layer .layer-container .bevel-bottom-right {
  bottom: -1px;
  right: -4px;
  transform: rotate(-45deg);
  transform-origin: left top;
}
.map-info-layer .layer-container .sunken {
  position: absolute;
  width: 109px;
  height: 10px;
  background-image: url(../img/headline_bg_2x.png);
  background-position: center -1px;
  background-repeat: no-repeat;
}
.map-info-layer .layer-container .sunken-left {
  top: 170px;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: left top;
}
.map-info-layer .layer-container .sunken-right {
  top: 130px;
  right: 0;
  transform: rotate(90deg);
  transform-origin: right top;
}
.map-info-layer .layer-container .sunken-bottom {
  bottom: -10px;
  left: 0;
  transform: rotate(180deg);
  transform-origin: right top;
}
.map-info-layer .layer-container .corner-left-top {
  position: absolute;
  left: -9px;
  top: -9px;
}
.map-info-layer .layer-container .corner {
  width: 10px;
  height: 1px;
  background-color: rgba(255, 102, 0, 0.7);
  position: absolute;
}
.map-info-layer .layer-container .corner-left-top .corner-1 {
  top: 3px;
  left: 0;
  transform: rotate(-45deg);
  transform-origin: right top;
}
.map-info-layer .layer-container .corner-left-top .corner-2 {
  top: 3px;
  left: 10px;
}
.map-info-layer .layer-container .corner-left-top .corner-3 {
  top: 10px;
  left: 3px;
  transform: rotate(90deg);
  transform-origin: left top;
}
.map-info-layer .layer-container .corner-left-bottom {
  position: absolute;
  left: -9px;
  bottom: -9px;
}
.map-info-layer .layer-container .corner-left-bottom .corner-1 {
  bottom: 3px;
  left: 0;
  transform: rotate(45deg);
  transform-origin: right top;
}
.map-info-layer .layer-container .corner-left-bottom .corner-2 {
  bottom: 10px;
  left: 3px;
  transform: rotate(-90deg);
  transform-origin: left top;
}
.map-info-layer .layer-container .corner-left-bottom .corner-3 {
  left: 10px;
  bottom: 3px;
}
.map-info-layer .layer-container .corner-right-bottom {
  position: absolute;
  right: -9px;
  bottom: -9px;
}
.map-info-layer .layer-container .corner-right-bottom .corner-1 {
  bottom: 3px;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: left top;
}
.map-info-layer .layer-container .corner-right-bottom .corner-2 {
  bottom: 10px;
  right: -7px;
  transform: rotate(-90deg);
  transform-origin: left top;
}
.map-info-layer .layer-container .corner-right-bottom .corner-3 {
  right: 10px;
  bottom: 3px;
}
.map-info-layer .layer-container .antenna-group .line {
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: rgba(248, 154, 13, 0.4);
}
.map-info-layer .layer-container .antenna-left-top {
  position: absolute;
  left: 20px;
  top: 0px;
}
.map-info-layer .layer-container .antenna-left-top .line-1 {
  left: 0px;
  bottom: 0px;
  transform: rotate(-45deg);
  transform-origin: left top;
}
.map-info-layer .layer-container .antenna-left-top .line-2 {
  left: 7px;
  top: -8px;
  width: 40px;
}
.map-info-layer .layer-container .antenna-left-top .circle {
  left: 40px;
  top: -2px;
  border: 1px solid rgba(248, 154, 13, 0.4);
  width: 3px;
  height: 3px;
  border-radius: 3px;
  position: absolute;
}
.map-info-layer .layer-container .antenna-right-bottom {
  position: absolute;
  right: 20px;
  bottom: 0px;
}
.map-info-layer .layer-container .antenna-right-bottom .line-1 {
  right: 0px;
  top: 0px;
  transform: rotate(-45deg);
  transform-origin: right top;
}
.map-info-layer .layer-container .antenna-right-bottom .line-2 {
  right: 7px;
  bottom: -8px;
  width: 40px;
}
.map-info-layer .layer-container .antenna-right-bottom .circle {
  right: 40px;
  bottom: -2px;
  border: 1px solid rgba(248, 154, 13, 0.4);
  width: 3px;
  height: 3px;
  border-radius: 3px;
  position: absolute;
}



.map-info-layer .layer-container .inner {
  width: 250px;
  min-height: 130px;
  background-color: rgba(0, 0, 0, 0.7);
  clip-path: polygon( 5px 0, calc(100% - 5px) 0, 100% 5px, 100% calc(100% - 5px), calc(100% - 5px) 100%, 5px 100%, 0 calc(100% - 5px), 0 5px );
  padding: 20px;
}
.map-info-layer .layer-container .content {
  padding: 20px;
  height: 160px;
}
.map-info-layer .layer-container .line-group .line {
  position: absolute;
  width: 70px;
  height: 1px;
  border-radius: 1px;
  background-color: rgba(248, 154, 13, 0.4);
  /* box-shadow: 0 0 5px #f89a0d; */
}
.map-info-layer .layer-container .line-group .line .circle {
  position: absolute;
  top: -4px;
  width: 9px;
  height: 9px;
  background-color: rgba(248, 154, 13, 0.4);
  border-radius: 9px;
  /* box-shadow: 0 0 5px #f89a0d; */
}
.map-info-layer .building-info {
  left: 0;
  top: 100px;
}
.map-info-layer .building-info .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.map-info-layer .building-info .row:last-child {
  margin-bottom: 0;
}
.map-info-layer .building-info .line-group .line-1 {
  left: 316px;
  top: 100px;
}
.map-info-layer .building-info .line-group .line-2 {
  left: 386px;
  top: 100px;
  transform: rotate(45deg);
  transform-origin: left top;
}
.map-info-layer .building-info .line-group .line-3 {
  left: 434px;
  top: 149px;
}
.map-info-layer .building-info .line-group .line-3 .circle {
  right: -4px;
}
.map-info-layer .alarm-info {
  right: 0;
  top: 0;
}
.map-info-layer .alarm-info .row {
  margin-bottom: 20px;
}
.map-info-layer .alarm-info .row:last-child {
  margin-bottom: 0;
}
.map-info-layer .alarm-info .line-group .line-1 {
  right: 316px;
  top: 100px;
}
.map-info-layer .alarm-info .line-group .line-2 {
  width: 157px;
  right: 386px;
  top: 100px;
  transform: rotate(-73deg);
  transform-origin: right top;
}
.map-info-layer .alarm-info .line-group .line-3 {
  width: 35px;
  right: 431px;
  top: 249px;
}
.map-info-layer .alarm-info .line-group .line-3 .circle {
  left: -4px;
}

.map-info-layer .device-info {
  left: 50%;
  margin-left: -125px;
  bottom: 0;
}
.map-info-layer .device-info .row {
  margin-bottom: 20px;
}
.map-info-layer .device-info .row:last-child {
  margin-bottom: 0px;
}
.map-info-layer .device-info .line-group .line-1 {
  width: 30px;
  left: 50%;
  top: -3px;
  transform: rotate(-90deg);
  transform-origin: left bottom;
}
.map-info-layer .device-info .line-group .line-2 {
  width: 13px;
  left: 144px;
  top: -31px;
}
.map-info-layer .device-info .line-group .line-3 {
  width: 30px;
  left: 145px;
  top: -31px;
  transform: rotate(-90deg);
  transform-origin: left bottom;
}
.map-info-layer .device-info .line-group .line-3 .circle {
  right: -4px;
}
.map-info-layer .inner {
  color: #fff;
}
.map-info-layer .inner .label {
  font-size: 12px;
  color: #aaa;
}
.map-info-layer .inner .value {
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.map-info-layer .inner .value .square {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #038d23;
  margin: 0 5px 0 15px;
  vertical-align: middle;
  transform: skewX(-30deg);
}
.map-info-layer .inner .value .level {
  background-image: url(../img/level.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 71px;
  height: 28px;
  padding-left: 35px;
}
.map-info-layer .close {
  position: absolute;
  top: -10px;
  right: -40px;
}
.map-info-layer .close {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-image: -webkit-image-set(url(../img/close_1x.png) 1x,url(../img/close_2x.png) 2x);
}